/* Navbar */

.navbar {
    height: 4rem;
}

.navbar-brand {
    font-weight: 600;
    letter-spacing: .125rem;
}

span#gray {
    color: rgba(183, 171, 171, 0.9);
    font-weight: 400;;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* 1-st section */

.starting-page {
    background-color: #e8e8e8;
}

.starting-page h1, .starting-page p {
    font-weight: 600;
    color: #424141;
}

.img-60 {
    max-width: 60%;
    padding: 2rem 1.5rem;
}

.align-self-center {
    width: 80%;
}

.btn {
    width: 80%;
}

.btn-primary {
    background-color: #7a7c7d;
    border-color: #7a7c7d;
}

.btn-primary:hover {
    background-color: #80868a;
    border-color: #7a7c7d;
}